body {
    margin: 5%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    color: brown;
}
header {
    text-align: center;
    padding: 60px 20px;
}
h1 {
    font-size: 35px;
    margin-bottom: 20px;
}
header p {
    width: 60%;
    margin: 60px auto;
    display: flex;
align-items: center
gap: 40px;;}